<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlantConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PlantConfig.Properties.Settings.ConnectionString"
            connectionString="Data Source=testdb;User ID=system;Password=manager;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <userSettings>
        <PlantConfig.Properties.Settings>
            <setting name="AllowEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDevicesNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDevicesStatuses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDevicesRelations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </PlantConfig.Properties.Settings>
    </userSettings>
</configuration>